@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100&display=swap');

body {
   width: auto;
   min-width: 350px;
   height: auto;
   background-color: rgb(15, 15, 24);
}

a {
   text-decoration: none;
}

.wraperTop {
   max-width: 1500px;
   height: 100px;
   position: relative;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo {
   font-family: "Inter Tight",
      sans-serif;
   color: aliceblue;
   margin-left: 80px;
   cursor: pointer;
   user-select: none;
}

.logoSpan {
   font-family: "Inter Tight",
      sans-serif;
   color: rgb(185, 219, 248);
   user-select: none;
}

.logo:hover {
   color: rgb(185, 219, 248);
}

.logo:hover>.logoSpan {
   color: aliceblue;
}

.wraperMenu {
   width: auto;
   height: 60px;
   position: relative;
   margin-right: 80px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-family: "Inter Tight",
      sans-serif;
   font-size: 20px;
   font-weight: 600;
   padding: 0 15px 0 15px;
   border-radius: 40px;
   background-color: rgb(24, 24, 42);
   overflow: hidden;
   user-select: none;
}

.menuItem {
   padding: 5px 10px 5px 10px;
   border-radius: 20px;
   z-index: 11;
   overflow: hidden;
   cursor: pointer;
   text-align: center;
   color: rgb(185, 219, 248);
}

.menuItem:hover {
   color: rgb(21, 21, 40);
}

.background {
   position: absolute;
   left: -1px;
   border-radius: 20px;
   background-color: rgb(185, 219, 248);
   transition: 0.1s;
}

@media screen and (max-width: 840px) {
   .logo {
      margin-left: 20px;
   }
}

@media screen and (max-width: 780px) {
   .wraperMenu {
      display: none;
   }
}

/* ---------------burger-------------------------- */
.burgerSmallMenu {
   width: 30px;
   height: 42px;
   position: relative;
   display: none;
   margin-top: 20px;
   margin-right: 30px;
   cursor: pointer;
   user-select: none;
}

.burgerSmallMenu::after,
.burgerSmallMenu::before {
   content: " ";
   position: absolute;
   width: 30px;
   height: 3px;
   background-color: rgb(158, 157, 157);
   border-radius: 2px;
   transition: 0.5s;
}

.burgerSmallMenu::after {
   bottom: 11px;
}

.burgerSmallMenu::before {
   top: 11px;
}

.burgerSmallMenu.rotate::after {
   bottom: 19.5px;
   transform: rotate(-45deg);
}

.burgerSmallMenu.rotate::before {
   top: 19.5px;
   transform: rotate(45deg);
}

.smallMenuLine {
   width: 30px;
   height: 3px;
   background-color: rgb(158, 157, 157);
   border-radius: 2px;
   position: absolute;
   top: 19.5px;
   transition: 0.3s;
}

@media screen and (max-width:780px) {
   .burgerSmallMenu {
      display: block;
   }

   .topMenuClick.hop {
      display: grid;
   }
}

.topMenuClick {
   width: 100%;
   height: 350px;
   display: grid;
   grid-template-rows: repeat(5, auto);
   row-gap: 20px;
   justify-content: center;
   transition: 0.5s;
   z-index: 10;
   display: none;
   user-select: none;
   background-color: rgb(15, 15, 24);
   padding: 20px 0 20px 0;
   position: absolute;
   top: 100px;
   left: 0;
   right: 0;
}

.burgetItem {
   width: auto;
   height: 50px;
   padding: 0 15px 0 15px;
   border-radius: 30px;
   cursor: pointer;
   background-color: rgb(24, 24, 42);
   color: rgb(185, 219, 248);
   font-family: "Inter Tight",
      sans-serif;
   font-size: 20px;
   font-weight: 600;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 0.5s;
}

.burgetItem:hover {
   background-color: rgb(185, 219, 248);
   color: rgb(21, 21, 40);
}

/* ------------------------------------------- */

.wraperAngar {
   max-width: 1500px;
   height: auto;
   margin: 0 auto;
   margin-top: 50px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.itemAvto {
   width: 300px;
   height: 400px;
   margin: 0 5px 10px 5px;
}

.fotoavto {
   width: 100%;
   height: 200px;
   object-fit: cover;
   image-rendering: auto;
   margin-bottom: 30px;
}

.styleItem {
   width: 90%;
   height: auto;
   margin-left: 5px;
   margin-bottom: 10px;
   font-family: "Inter Tight",
      sans-serif;
   font-size: 20px;
   font-weight: 500;
   color: rgb(185, 219, 248);
}

/* -----------SORT--------------- */
.wraperSort {
   max-width: 1500px;
   height: auto;
   margin: 0 auto;
   margin-top: 50px;
   text-align: center;
   background-color: rgb(20, 20, 35);
   border-radius: 30px;
   padding-bottom: 20px;
}

.brendCountry {
   position: relative;
}

.wraperSortIten {
   width: 100%;
   height: auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.filtrText {
   width: auto;
   height: auto;
   font-family: "Inter Tight",
      sans-serif;
   font-size: 25px;
   font-weight: 600;
   padding: 5px 15px 5px 15px;
   color: aliceblue;
   margin: 0 auto;
   margin-bottom: 30px;
   display: inline-flex;
   text-align: center;
}

.sortStyleitem {
   width: auto;
   height: auto;
   font-family: "Inter Tight",
      sans-serif;
   font-size: 20px;
   font-weight: 500;
   color: aliceblue;
   padding: 10px 15px 10px 15px;
   background-color: rgb(24, 24, 42);
   border-radius: 20px;
   transition: 0.3s;
   cursor: pointer;
}

.wraperSortText {
   cursor: pointer;
}

.sortStyleitem:hover {
   color: rgb(15, 15, 24);
   background-color: rgb(185, 219, 248);
}

.podBrendWraper {
   width: auto;
   height: auto;
   background-color: rgb(185, 219, 248);
   position: absolute;
   top: 100%;
   left: 0;
   padding: 10px 10px 10px 10px;
   color: rgb(15, 15, 24);
   z-index: 10;
   display: none;
}

.wraperCauntryBrend {
   display: flex;
   justify-content: space-around;
}

.podBrend {
   width: auto;
   height: auto;
   font-family: "Inter Tight",
      sans-serif;
   font-size: 15px;
   font-weight: 500;
   margin: 0 5px 10px 5px;
   border-bottom: 1px solid rgba(139, 138, 138, 0.478);
   cursor: pointer;
}

/* .brend:hover>.podBrendWraper {
   display: block; 
} */
.classHover {
   display: block;
}

.podBrend:hover {
   border-bottom: 1px solid rgb(0, 0, 0);
   text-shadow: 1px 0px #343333;
}

.podBrendCauntryBrendText {
   color: rgb(0, 0, 0);
   background-color: rgb(148, 148, 167);
   margin: 0 5px 5px 5px;
}

.sbros {
   color: brown;
}

.search {
   width: auto;
   height: auto;
   font-family: "Inter Tight",
      sans-serif;
   font-size: 15px;
   font-weight: 500;
   margin: 0 5px 10px 5px;
   padding: 5px 0 5px 0;
   color: rgb(6, 171, 12);
   border-bottom: 1px solid rgba(6, 171, 12, 0.3);
   cursor: pointer;
}

.search:hover {
   border-bottom: 1px rgb(6, 171, 12) solid;
   text-shadow: 1px 0px rgb(6, 171, 12);
}

/* --- style for js ------*/
.createBackgroundColor {
   background-color: rgb(90, 150, 99);
}

/* --- style for js ------*/